# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy to Heroku (Backend)

on:
  push:
    branches: [ master ]
    paths: 
      - "mybackend/**"
      - ".github/workflows/backend.yml"
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Add backend remote origin
      run: git remote add heroku-backend https://heroku:${{ secrets.HEROKU_BACKEND_TOKEN }}@git.heroku.com/${{ secrets.HEROKU_BACKEND_APP_NAME }}.git
    - name: Deploy backend to Heroku
      run: git push heroku-backend `git subtree split --prefix mybackend master`:refs/heads/master --force
